* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #111;
}

/* PROMO */
.promo {
    background: #ffbd17;
    padding: 18px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

/* HEADER */
header {
    height: 150px;
    background: #080808;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.menu-icon {
    font-size: 32px;
}

.logo {
    line-height: 25px;
    text-align: left;
}

.logo span {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.logo b {
    display: block;
    color: #df202b;
    font-size: 25px;
}

.logo small {
    color: #ffb900;
    font-size: 9px;
    font-weight: bold;
}

.signin {
    background: #df202b;
    color: white;
    border: none;
    padding: 17px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.cart {
    font-size: 25px;
}

/* LOCATION */
.location {
    background: #df202b;
    color: white;
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.location div {
    font-size: 17px;
}

.location button {
    background: white;
    color: #c91e29;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

/* HERO */
.hero {
    background: #080808;
    color: white;
    text-align: center;
    padding: 80px 20px 0;
}

.hero h1 {
    color: #df202b;
    font-size: 43px;
    line-height: 1.1;
    margin-bottom: 35px;
}

.hero h1 span {
    color: white;
}

.hero button {
    width: 100%;
    padding: 20px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
}

.red-btn {
    background: #df202b;
    color: white;
    border: none;
}

.white-btn {
    background: white;
    color: #111;
    border: none;
}

.hero img {
    width: 100%;
    margin-top: 35px;
    display: block;
}

/* REWARDS */
.rewards {
    background: #df202b;
    padding: 35px;
}

.rewards img {
    width: 100%;
    display: block;
}

.reward-text {
    background: white;
    padding: 45px 30px;
}

.reward-text h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.reward-text p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.reward-text button {
    width: 100%;
    padding: 17px;
    margin-bottom: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 17px;
}

/* MENU */
.menu {
    text-align: center;
    padding: 70px 35px;
}

.menu h2 {
    font-size: 32px;
    margin-bottom: 35px;
}

.menu > p {
    font-size: 19px;
    margin-bottom: 45px;
}

.menu img {
    width: 100%;
    margin: 20px 0 40px;
}

.category {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 22px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* ABOUT */
.about {
    background: #080808;
    color: white;
    padding: 65px 35px;
}

.about h2 {
    color: #ffb900;
    text-align: center;
    font-size: 27px;
    margin-bottom: 35px;
}

.about p {
    font-size: 19px;
    line-height: 1.9;
    margin-bottom: 35px;
}

.about button {
    width: 100%;
    padding: 20px;
    background: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

/* FOOTER */
footer {
    background: #080808;
    color: white;
    padding: 35px 28px 100px;
    text-align: center;
}

.footer-link {
    border-bottom: 1px solid #777;
    padding: 25px 0;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

footer h2 {
    margin: 55px 0 30px;
    font-size: 22px;
}

.socials {
    font-size: 30px;
    margin-bottom: 40px;
}

footer p {
    line-height: 1.6;
    margin: 25px 0;
}

.links {
    line-height: 2;
}

/* FIXED ORDER BUTTON */
.fixed-order {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #df202b;
    color: white;
    padding: 22px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
}